
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row overflow-hidden">
  <div class="col-3 foto-fondo-1">
  </div>
  <div class="col-6 container">
    <div class="row titulo">
    </div>
    <div class="row container-4">
      <input type="text" id="search" placeholder="Buscar población..."[(ngModel)]="ciudad" />
      <button (click)="buscar(ciudad)" class="icon"><i class="fa fa-search"></i></button>
    </div>
    <div class="container-carousel">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of lista_ciudades">
          <div class="picsum-img-wrapper">
            <img (click)="buscar(slide.nombre)" src="{{slide.foto}}" alt="{{slide.nombre}}">
            <span class="sr-only" style="margin-left: 170px; color: white;">{{slide.nombre}}</span>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="col-3 foto-fondo-2">
  </div>
</div>
