<div class="container">
  <div class="titulo">
    <h1>Log In</h1>
  </div>
  <div class="div_email mb-3">
    <label id="email_lbl" for="email_input" class="form-label">Correo Electrónico:</label>
    <input type="email" class="form-control" id="email_input" placeholder="ejemplo@dominio.com">
  </div>
  <div class="div_pass mb-3">
    <label id="pass_lbl" for="password_input" class="form-label">Contraseña:</label>
    <input type="password" class="form-control" id="password_input">
  </div>
  <div class="botoncito">
    <button class="btn btn-primary">Entrar</button>
  </div>
</div>
