.container {width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;}
.titulo {height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;}
.mb-3 {width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;}
#email_lbl {width: 200px;}
#pass_lbl {width: 120px;}
