<div class="container">
  <div class="image_div">Foto de Perfil</div>
  <div class="datos_div">
    <div class="ap nombre">
      <label for="staticName" class="col-sm-2 col-form-label">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticName" value="{{nombre}}">
      </div>
    </div>
    <div class="ap apels">
      <label for="staticApel" class="col-sm-2 col-form-label">Apellidos:</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticApel" value="{{apellidos}}">
      </div>
    </div>
    <div class="ap email">
      <label for="staticEmail" class="col-sm-2 col-form-label">Correo Electrónico:</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{email}}">
      </div>
    </div>
    <div class="ap historial">
      <label for="staticHistory" class="col-sm-2 col-form-label">Historial de Búsqueda:</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4" id="staticHistory">{{historial}}</textarea>
      </div>
    </div>
  </div>
</div>
