<div class="container">
  <div class="titulo">
    <h2>Formulario de Registro</h2>
  </div>
  <div class="datos_div">
    <div class="ap nombre">
      <label for="name" class="col-sm-2 col-form-label">Nombre:</label>
      <div>
        <input type="text" id="name" placeholder="Introduzca su nombre"/>
      </div>
    </div>
    <div class="ap apels">
      <label for="apel" class="col-sm-2 col-form-label">Apellidos:</label>
      <div>
        <input type="text" id="apel" placeholder="Introduzca sus apellidos"/>
      </div>
    </div>
    <div class="ap email">
      <label for="email" class="col-sm-2 col-form-label">Correo Electrónico:</label>
      <div>
        <input type="email" id="email" placeholder="Introduzca su correo electrónico"/>
      </div>
    </div>
    <div class="ap password">
      <label for="passw" class="col-sm-2 col-form-label">Contraseña:</label>
      <div>
        <input type="password" id="passw"/>
      </div>
    </div>
    <div class="ap botoncito">
      <button class="btn btn-primary">Registrarse</button>
    </div>
  </div>
</div>
